/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

.h-fill {
  width: 100%;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* TOP NAVBAR */

.top_nav {
  background-color: #f72217;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav_logo img {
  filter: invert(100%);
}

.nav_login,
.datetime {
  color: white;
  font-size: 1.2rem;
  display: none;
}

.nav_login {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

.top_nav_categories {
  display: flex;
  flex-direction: column;
}

.top_nav_categories a {
  font-size: 1.4rem;
  font-weight: bolder;
}

.top_nav_trending a {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.toggler-wrap > * {
  margin-left: 15px;
}

/* MAIN CONTENT */

main {
  height: 65vh;
}

/* FOOTER NAVBAR */

.bottom_nav_header {
  justify-content: space-between;
}

.bottom_nav_logo {
  filter: invert(17%) sepia(84%) saturate(5354%) hue-rotate(13deg)
    brightness(103%) contrast(105%);
}

.bottom_nav {
  border-top: grey solid 0.01rem;
  flex-wrap: wrap;
}

.bottom_nav_first {
  display: flex;
  /* flex-direction: column; */
  font-size: 1.1rem;
  flex-wrap: wrap;
}

.bottom_nav_second {
  flex-wrap: wrap;
}

.bottom_nav_first a:nth-child(1) {
  font-weight: bold;
}

.left_side {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
}

.social a i {
  font-size: 2rem;
  padding: 0 0.5rem;
  color: rgba(53, 52, 52, 0.8);
}

.links-wrapper {
  display: ;
}

@media (min-width: 768px) {
  .nav_login,
  .datetime {
    color: white;
    display: block;
  }

  .navbar-toggler {
    display: none;
  }
}
