/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* TOP NAVBAR */

.top_nav {
  background-color: #f72217;
}

.nav_logo img {
  filter: invert(100%);
}

.nav_login,
.datetime {
  color: white;
  font-size: 1.2rem;
}

.nav_login {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

.top_nav_categories {
  display: flex;
  flex-direction: column;
}

.top_nav_categories a {
  font-size: 1.4rem;
  font-weight: bolder;
  color: black !important;
}

.top_nav_trending a {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: grey !important;
  font-weight: bold;
}

.navbar-nav:nth-child(2) a:nth-child(1) {
  color: black !important;
}
