/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration-color: #f72210;
}

.h-fill {
  width: 100%;
}

.text-red {
  color: #f72210;
}

.bg-red {
  background-color: #f72210;
}

.icon-sm {
  width: 20px;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* TOP NAVBAR */

.page-header {
  font-family: "Roboto Condensed", sans-serif;
}

.top_nav {
  background-color: #f72217;
  position: relative;
}

.top_nav::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 1.5rem;
  right: 0;
  top: 100%;
  display: none;
  background-color: #f72217;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav_logo img {
  filter: invert(100%);
  transition: filter 1000ms, scale 500ms ease-in-out;
}

.nav_logo img:hover {
  filter: invert(80%);
  scale: 1.05;
  animation-name: change_color_loop;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
}

@keyframes change_color_loop {
  0% {
    filter: invert(0%);
  }
  100% {
    filter: invert(100%);
  }
}

.nav_login,
.datetime {
  color: white;
  font-size: 1.2rem;
}

.nav_login {
  text-transform: uppercase;
  font-weight: bold;
}

.top_nav_categories {
  display: flex;
  flex-direction: column;
}

.top_nav_categories a {
  font-weight: bolder;
}

.top_nav_trending a {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.toggler-wrap > * {
  margin-left: 15px;
}

/* MAIN CONTENT */

main {
  height: 100%;
}

.category {
  bottom: 0;
  color: red;
  font-weight: bold;
  font-size: 1.3rem;
  background: rgb(233, 233, 233);
}

.featured-stories article {
  padding: 1rem;
}

.the-debate img {
  width: 7rem;
}

.the-debate h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.vs-circle {
  font-size: 1.5rem;
  top: -1.5rem;
  left: 50%;
  padding: 0.3rem;
}

.culture-and-travel-category {
  bottom: 0;
}

/* SUBSCRIBE & NEWSLETTER */

.newsletter-img {
  background: url('./assets/starting5-homepage.png');
  background-position: center;
  background-size: cover;
  min-height: auto;
}

.newsletter-wrapper {
  min-height: 28.8rem;
}

/* FOOTER NAVBAR */

.bottom_nav_logo {
  filter:
    invert(17%) sepia(84%) saturate(5354%) hue-rotate(13deg)
    brightness(103%) contrast(105%);
}

.bottom_nav {
  border-top: grey solid 0.01rem;
  flex-wrap: wrap;
}

.bottom_nav_first {
  display: flex;
  font-size: 1.1rem;
  flex-wrap: wrap;
}

.bottom_nav_second {
  flex-wrap: wrap;
}

.bottom_nav_first a:nth-child(1) {
  font-weight: bold;
}

.left_side {
  display: flex;
  justify-content: space-between;
}

.social a i {
  font-size: 2rem;
  padding: 0 0.5rem;
  color: rgba(53, 52, 52, 0.8);
}

.md-lg .sponsored-insights-2 {
  width: 330px;
  margin: auto;
}

.thumbnail {
  max-width: 80px;
}

.clip {
  position: absolute;
  clip-path: circle(1px);
  color: transparent;
}

.absolute-bottom {
  bottom: 0;
}

.bg-dim {
  background-color: #dddd;
}

.text-black {
  color: #000;
}

.font-size-lg {
  font-size: 1.5rem;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search {
  background-color: transparent;
  width: 80px;
  font-size: 1.5rem;
}

.search:hover {
  background-color: transparent;
}

.search-label {
  position: relative;
  width: 80px;
  margin-right: 80px;
}

.search-label::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/search.png);
}

input.plain:focus {
  outline: none;
}

@media (min-width: 768px) {
  .nav_login,
  .datetime {
    color: white;
    display: block;
  }

  .sponsored-insights-2 > * {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .top_nav::after {
    display: block;
  }

  .navbar-brand.nav_logo img {
    transform: scale(2);
    position: relative;
    left: 0;
    top: 0;
  }
}
